.navbar-new{
    border-bottom:2px solid black;
}
.container-fluid{
    background-color: #cddafd;
   
}
.navbar-brand{
    text-align: center;
    color: black;
}
.navbar-brand:hover{
    text-align: center;
    color: black;
    text-decoration: underline;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: black;
    text-decoration: underline;
}
.navbar-toggler-icon{
    background-color: black;
    height: 2px;
    width: 20px;
}
.line{
    background-color: wheat;
    height: 100px;
}

.link-nav{
    text-decoration: none;
    color: black;
}
.link-nav:hover{
    text-decoration: none;
    color: black;
}